#francemap{
    margin: 20px auto;
}

.copains_logo img{
    height : 150px;
    width:auto;

}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.up img{
    margin-left: 10px;
    height:30px;
}

.map-row {
    margin: 0 0 0 10%
}

.map-row p{
    margin: 20px 0 5px 0;
}

#logocontainer{
    padding:50px;
}


#logocontainer *{
    margin 10px;
}
