body {
    background: #232323;
    font-size: 1.5em;
    width:100%;
    color:lightgray;
}

.row{
    margin: auto;
}

.up {
    font-size: 150%;
}

.mark {
    color: #ED1C82;
}

em {
    font-weight: bold;
    font-style: normal;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
