body {
    background: #C7EA9E;
    font-size: 1em;
}

ul {
    margin-left: 20px;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.horizontal li {
    display: inline;
}

.header {
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#546343', endColorstr='#C7EA9E'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#546343), to(#C7EA9E)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #546343,  #C7EA9E); /* for firefox 3.6+ */
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test {
    margin: 0 auto;
    float: none;
}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

p {
    text-align: justify;
    margin-left: 20px;
}

em {
    font-weight: bold;
    font-style: normal;
}

.up {
    font-size: 150%;
}

.mark {
    color: #ED1C82;
}